body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.submenu{
  display: none;
}

.traffic_wrapper{
  height: 300px;
  width: 100px;
  margin-left:20px;
  border: 1px solid black;
  padding: 10px;
  background-color: black;
  
}
.traffic_light{
  height: 90px;
  width: 90px;
  margin:5px;
  border: 1px solid black;
  border-radius: 300px;
}

.dropdown{
  width: 100px;
  height: 30px;
  margin:20px;
  border-radius: 10px;
}

.btn{
  margin-left: 30px;
  border-radius: 10px;
  width: 100px;
}
.input_box{
  margin-left: 30px;
  width: 50px;
}